<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Manager</title>
</head>

<body>
    <div id="content">
        <div id="login">
            <label for="cpf">CPF</label>
            <input name="cpf" id="cpf" />
            <label for="password">Senha</label>
            <input name="password" id="password" />
            <button type="button" onclick="login()">Login</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>